[submodule "weatherService"]
	path = weatherService
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-weatherRest.git
[submodule "rocketService"]
	path = rocketService
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-rocketRest.git
[submodule "pollCreator-rpc"]
	path = pollCreator-rpc
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-pollCreator-rpc.git
[submodule "richardCli"]
	path = richardCli
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-richardCLI.git
[submodule "elonCLI"]
	path = elonCLI
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-elonCLI.git
[submodule "toryCli"]
	path = toryCli
	url = https://github.com/pns-si5-soa/blue-origin-x-20-21-soa-20-21-f-toryCLI.git
